/* General body */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

/* Centered card */
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.auth-card {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 400px;
  
}

/* Headings */
.auth-card h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

/* Inputs */
.auth-card input[type ="name"],
.auth-card input[type="email"],
.auth-card input[type="password"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}


.auth-card button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.auth-card button:hover {
  background-color: #0056b3;
}

/* Footer link */
.auth-card p {
  text-align: center;
  color: #555;
  margin-top: 20px;
}

.auth-card p a {
  color: #007bff;
  text-decoration: none;
}

.auth-card p a:hover {
  text-decoration: underline;
}
